*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    background-color: dimgrey;
    color: white;
    font-family:cursive;
}

.left .half1{
    font-size: 1.7rem;
    color:white;
}
.left .half2{
    font-size: 1.7rem;
    color:#f7dab5;;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #424242;
    height: 80px;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
    text-decoration: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
    word-wrap: break-word;
}
nav ul li a:hover{
    color:gray;
    margin: 2px;
}
.firstsection{
    display:inline-flex;
}
.leftsection{
    margin:8px 98px;
}
.rightsection{
    margin: 32px -72px;
}
.rightsection ul li{
    margin: 10px 25px;
}
.nameinaboutme{
    color:#b1c9ef;
    font-size: 26px;
}
.charecters q{
    font-size: 22px;
     color: rgb(0, 0, 0);
}
body::before{
    content:"";
    position: absolute;
    top:80px;
    left:0;
    height:100%;
    width:100%;
    background-image:url(/imgs/Background\ img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
}

@media(max-width:995px){
    body{
        overflow: hidden;   
    }
}