*{
    margin: 0;
    padding: 0;
}
body::before{
    content:"";
    position: absolute;
    top:80px;
    left:0;
    height:100%;
    width:100%;
    background:url(/imgs/pngbc.jpg) no-repeat left -170px, url(/imgs/Png.png) no-repeat 800px -500px ;
    background-size: 50%;
    background-repeat: no-repeat;
    opacity: 0.2;
}
body{
    /* overflow: hidden; */
    background-color: dimgrey;
    font-family:cursive;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #424242;
    height: 80px;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
    text-decoration: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color:gray;
    margin: 2px;
}
.left{
    font-size: 1.7rem;
}
.left .half1{
    font-size: 1.7rem;
    color:white;
}
.left .half2{
    font-size: 1.7rem;
    color:#f7dab5;
}
.container{
     height: 100px;
}
.container .first{
    background: white;
    height: 25rem;
    color: black;
}
.container .second{
    background: rgb(10, 5, 5);
}

.textandtimeline{
    display: flex;
    justify-content: left;
    margin: -25px 87px;
    font-size: 2rem;
    color:#fad19c;
    
}
.textandtimeline .verticallinefirst{
    margin: 5px -90px;
    height: 276px;
    width: 2.5px;
    background-color: black;
}
.textandtimeline .verticallinesecond{
    margin: -4px -90px;
    height: 276px;
    width: 2.5px;
    background-color: white;
}
.white{
    color:white;
}
.black{
    color:black;
}
.hrs span{
    display: flex;
    justify-content: center;
}
.hrs1{
    display: flex;
    justify-content: center;
}
.hrs1 span{
    margin: -70px 0px 0px -1135px;
}
.hrs2 span{
    margin: -70px 0px 0px -1135px;
}
.hrs3{
    margin: -70px 0px 0px -1135px;
}
.hrs3 span{
    margin: -70px 0px 0px -1140px;
}
#firstproject{
    margin: 0px 0px 0px 110px;
    color: white;
    text-decoration: none;
}
.hrs4 span{
    margin: -70px 0px 0px -1135px;
}
.hrs5 span{
    margin: -70px 0px 0px -1135px;
}
.hrs6 span{
    margin: -70px 0px 0px -1135px;
}
.hrs7 span{
    margin: -70px 0px 0px -1135px;
}
.hrs2{
    background-color: white;
    height: 2px;
    margin:-80px 93px;
}
.hrs3{
    background-color: white;
    height: 2px;
    margin:-80px 93px;
}
.hrs4{
    background-color:white;
    height: 2px;
    margin:-89px 93px;
}
.hrs5{
    background-color:black;
    height: 2px;
    margin:-80px 93px;
}
.hrs6{
    background-color:black;
    height: 2px;
    margin:-80px 93px;
}
.hrs7{
    background-color:black;
    height: 2px;
    margin:-80px 93px;
}

.myp{
    margin-top: -30;
}
footer{
    display: grid;
    justify-content:space-around;
    background-color: white;
}

@media(max-width:995px){
    body{
        overflow: hidden;   
    }
}